.color-white {
  color: white;
}

.color-tan {
  color: #bead9a;
}

.color-black {
  color: black;
}

.bc-color-blueviolet {
  background-color: #6000ff;
}

.bc-color-white {
  background-color: white;
}

.bc-color-darkeslategray {
  background-color: #2e2d38;
}

.bc-color-dimgray {
  background-color: #6d727d;
}

.bc-color-crimson {
  background-color: #da003a;
}

.upper-case {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.border-radius {
  border-radius: 5px;
}

.border {
  border: 1px solid black;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-left {
  margin-left: 0.5rem;
}

.padding {
  padding: 0.25rem;
}

.card {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

.tab-bar {
  margin: 1rem 0;
}

.tab-bar :first-child {
  margin-right: 0.5rem;
}

.tab-bar span {
  padding: 5px;
}
